
//- # party - show

extends ../layout

block content
  .container
    .row
      table
        tbody
          tr
            th Party Title:
            td= party.name
          tr
            th Party Owner:
            td= party.user.email
      form(action='/search-spotify', method='GET')
        input(type='hidden', name='_csrf', value=csrf)
        input(type='text', name='artist', placeholder='Artist')
        input(type='text', name='song', placeholder='Song')
        button(type='submit').btn.btn-lg.btn-primary

