
//- # song - show

extends ../layout

block content
  .container
    .row
      .col-md-4.col-md-offset-4
        h1 Genre - #{song.genre}
        h2 Title - #{song.title}
        h2 Artist - #{song.artist}
        a(href='/songs/' + song.id + '/edit') Edit Song
