
//- # home

extends layout

block content
  .container
    .row
      .col-lg-offset-8
        ul.list-inline
          //- li: a(href='/users').btn.btn-primary.btn-lg Users
          //- li: a(href='/users/new').btn.btn-primary.btn-lg Create User
          if req.isAuthenticated()
            li: a(href='/parties').btn.btn-primary.btn-lg My Parties
            li: a(href='/my-account').btn.btn-primary.btn-lg My Account
            li: a(href='/logout').btn.btn-primary.btn-lg Log Out
          else
            li: a(href='/about').btn.btn-primary.btn-lg About
            li: a(href='/signup').btn.btn-primary.btn-lg Sign Up
            li: a(href='/login').btn.btn-primary.btn-lg Log In

